<div class="todo">
  <div class="text-body">
    <span><h5>{{todo.name}}</h5><button *ngIf="todo.status === 'open'" type="button" class="btn btn-secondary" (click)="onSetIsEditMode()">Edit</button></span>
    <hr>
    <p>{{todo.description}}</p>
  </div>
  <div class="action-buttons">
    <button type="button" class="btn btn-primary" (click)="onDoneTodo(todo)">Done</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteTodo(todo)">Delete</button>
    <button type="button" class="btn btn-warning" (click)="onReOpenTodo(todo)">Re-Open</button>
  </div>
</div>
