<div class="body">
  <div [class]="logInClicked ? 'form_container log-in' : 'form_container' ">
    <div class="box"></div>
    <div class="container-forms">
      <div class="container-info">
        <div class="info-item">
          <div class="table">
            <div class="table-cell">
              <p>
                Have an account?
              </p>
              <button type="button" class="btn_button" (click)="toggleClasses()">
                Log in
              </button>
            </div>
          </div>
        </div>
        <div class="info-item">
          <div class="table">
            <div class="table-cell">
              <p>
                Don't have an account?
              </p>
              <button type="button" class="btn_button" (click)="toggleClasses()">
                Sign up
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-form">
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
          <div class="form-item log-in">
            <div class="table">
              <div class="table-cell">
                <input name="username" placeholder="Username" type="text" formControlName="usernameInput"/>
                <input name="password" placeholder="password" type="password" formControlName="passwordInput"/>
                <button type="submit" class="btn_button">
                  Log in
                </button>
              </div>
            </div>
          </div>
      </form>
      <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
          <div class="form-item sign-up">
            <div class="table">
              <div class="table-cell">
                <input name="email" placeholder="Email" type="text" formControlName="emailInput"/>
                <input name="fullName" placeholder="Full Name" type="text" formControlName="fullnameInput"/>
                <input name="username" placeholder="Username" type="text" formControlName="usernameInput"/>
                <input name="password" placeholder="Password" type="password" formControlName="passwordInput"/>
                <button type="submit" class="btn_button">
                  Sign up
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
