li {
  cursor: pointer;
}

.navbar {
  margin-bottom: 20px;
}

.navbar input {
  width: 500px;
}

.active {
  border: 1px solid #2bc07ac9;
  font-weight: bold;
  background-color: #2bc07ac9;
  border-radius: 0.375rem;
}
