.todos{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
}

.spinner{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: #f1f2f3;
    z-index: 998;
}